@mixin keyframe ($animationName) {
    @-webkit-keyframes #{$animationName} {
        @content;
    }

    @-moz-keyframes #{$animationName} {
        @content;
    }

    @-o-keyframes #{$animationName} {
        @content;
    }

    @keyframes #{$animationName} {
        @content;
    }
}


@include keyframe (appear){
    0% {
        transform: translateY(20px);
        opacity:0;
    }
    100% {
        transform: translateY(0px);
        opacity:1;
    }
}

@include keyframe (appearFromRight){
    0% {
        transform: translateX(20px);
        opacity:0;
    }
    100% {
        transform: translateY(0px);
        opacity:1;
    }
}

