@font-face {
  font-family: 'Nunito';
  src: local('Nunito'), url(./Assets/Fonts/Nunito.ttf) format('truetype');
}

/* @font-face {
  font-family: 'Nunito-Italic';
  src: local('Nunito-Italic'), url(./Assets/Fonts/Nunito-Italic.ttf) format('ttf');
} */

:root{
  --a:40;
}

html, body, #root{
  min-height: 100%;
}

#root{
  display: flex;
}

body{
  margin: var(--a);
  height: 100vh;
  width: 100%;
}